body{
                display: inline-flexbox;
                background-color: bisque;
                text-align: center;
}

header{
                display: flex;
                font-family: Georgia, 'Times New Roman', Times, serif;
                justify-content: space-between;
}

h1{
                font-family: 'Courier New', Courier, monospace;
                font-size: 40px;
                color: #000;
                text-shadow: 5px 5px 8px #fff;
}

h2{
                font-family: 'Courier New', Courier, monospace;
                font-size: 30px;
}

