body{
                background-color: bisque;
                text-align: center;
}
h1{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-shadow: 5px 5px 10px #004;
}

h2{
                font-family: sans-serif;
                text-decoration: underline;
}

ol{
                text-align: left;
                font-size: 16px;
}

ul{
                text-align: left;
                font-size: 16px;

}